# Práctica Final Módulo 4 - SQL

### Responder, utilizando consultas sql, las preguntas que se te hacen a continuación sobre datos de clientes y transacciones del sector bancario (datos sintéticos). EL primer paso es generar el 'schema' , las tablas y la inserción de los datos sinténticos. En la siguiente celda encontrarás los pasos para crear la base de datos. El código sql está comentado con **/\*** _código sql_  **\*/** , de modo que , <u>_antes de ejecutar las celdas_</u>, debes **"descomentar"** (borrar **'/\*'** y **'\*/'**) las consultas. Es posible que algunas consultas te arrojen tablas vacias.

- **Crear esquema**

In [1]:

CREATE SCHEMA bank;

- **Crear tabla Clientes**

In [2]:

CREATE TABLE bank.Clientes (
    ClienteID INT PRIMARY KEY,
    Nombre VARCHAR(50),
    Apellido VARCHAR(50),
    FechaNacimiento DATE,
    Genero CHAR(1),
    Direccion VARCHAR(100),
    Ciudad VARCHAR(50),
    CodigoPostal VARCHAR(10)
);

- **Crear tabla Cuentas**

In [3]:

CREATE TABLE bank.Cuentas (
    CuentaID INT PRIMARY KEY,
    ClienteID INT,
    TipoCuenta VARCHAR(20),
    FechaApertura DATE,
    Saldo DECIMAL(12,2),
    FOREIGN KEY (ClienteID) REFERENCES bank.Clientes(ClienteID)
);

- **Crear tabla Transacciones**

In [4]:

CREATE TABLE bank.Transacciones (
    TransaccionID INT PRIMARY KEY,
    CuentaID INT,
    Fecha DATE,
    Tipo VARCHAR(20),
    Monto DECIMAL(12,2),
    Descripcion VARCHAR(100),
    FOREIGN KEY (CuentaID) REFERENCES bank.Cuentas(CuentaID)
);

- **Insertar los datos en la tabla Clientes**

In [5]:

INSERT INTO bank.Clientes (ClienteID, Nombre, Apellido, FechaNacimiento, Genero, Direccion, Ciudad, CodigoPostal)
VALUES
    (1, 'Juan', 'Pérez', '1985-03-15', 'M', 'Calle Falsa 123', 'Madrid', '28001'),
    (2, 'María', 'García', '1992-11-22', 'F', 'Avenida Siempreviva 456', 'Barcelona', '08001'),
    (3, 'Pedro', 'Rodríguez', '1978-07-02', 'M', 'Paseo del Parque 789', 'Sevilla', '41001'),
    (4, 'Ana', 'Martínez', '1990-04-18', 'F', 'Calle Mayor 321', 'Valencia', '46001'),
    (5, 'Carlos', 'Sánchez', '1982-09-30', 'M', 'Plaza del Ayuntamiento 159', 'Bilbao', '48001'),
    (6, 'Laura', 'Fernández', '1995-12-08', 'F', 'Rambla de las Flores 753', 'Málaga', '29001'),
    (7, 'Javier', 'Gómez', '1988-06-20', 'M', 'Paseo Marítimo 246', 'Alicante', '03001'),
    (8, 'Sofía', 'Torres', '1975-02-10', 'F', 'Avenida del Mar 852', 'Palma de Mallorca', '07001'),
    (9, 'Sergio', 'Navarro', '1983-11-05', 'M', 'Calle Real 753', 'Zaragoza', '50001'),
    (10, 'Isabel', 'Ramírez', '1991-08-28', 'F', 'Paseo de Gracia 159', 'Barcelona', '08007'),
    (11, 'Andrés', 'Herrera', '1979-05-12', 'M', 'Calle del Prado 456', 'Madrid', '28002'),
    (12, 'Marta', 'Jiménez', '1987-09-28', 'F', 'Avenida del Puerto 789', 'Valencia', '46002'),
    (13, 'Luis', 'Moreno', '1981-03-05', 'M', 'Plaza Mayor 123', 'Sevilla', '41002'),
    (14, 'Carla', 'Ruiz', '1993-11-18', 'F', 'Paseo de la Castellana 456', 'Madrid', '28003'),
    (15, 'Diego', 'Álvarez', '1977-07-22', 'M', 'Calle Larga 789', 'Málaga', '29002'),
    (16, 'Alicia', 'Gutiérrez', '1989-02-03', 'F', 'Rambla de Santa Mónica 123', 'Barcelona', '08004'),
    (17, 'Raúl', 'Vázquez', '1984-10-15', 'M', 'Avenida del Mar 456', 'Alicante', '03002'),
    (18, 'Lucía', 'Romero', '1991-06-27', 'F', 'Calle San Fermín 789', 'Pamplona', '31001'),
    (19, 'Óscar', 'Ramos', '1986-04-09', 'M', 'Plaza del Pilar 123', 'Zaragoza', '50002'),
    (20, 'Elena', 'Santos', '1994-12-31', 'F', 'Paseo de la Ribera 456', 'Bilbao', '48002'),
    (21, 'Alejandro', 'Flores', '1980-08-17', 'M', 'Calle de la Montera 789', 'Madrid', '28004'),
    (22, 'Cristina', 'Molina', '1988-03-10', 'F', 'Avenida de la Palmera 123', 'Sevilla', '41003'),
    (23, 'Mario', 'Castillo', '1982-11-25', 'M', 'Paseo Marítimo 456', 'Barcelona', '08005'),
    (24, 'Daniela', 'Cabrera', '1996-07-08', 'F', 'Calle de la Reina 789', 'Valencia', '46003'),
    (25, 'Pablo', 'Ortega', '1979-02-20', 'M', 'Plaza de las Flores 123', 'Zaragoza', '50003'),
    (26, 'Silvia', 'Vargas', '1985-09-03', 'F', 'Avenida de la Constitución 456', 'Sevilla', '41004'),
    (27, 'Roberto', 'Sáez', '1991-05-16', 'M', 'Calle Mayor 789', 'Madrid', '28005'),
    (28, 'Carolina', 'Pardo', '1993-01-29', 'F', 'Rambla de Cataluña 123', 'Barcelona', '08006'),
    (29, 'David', 'Rojas', '1987-10-11', 'M', 'Paseo Marítimo 456', 'Alicante', '03003'),
    (30, 'Claudia', 'Suárez', '1995-06-24', 'F', 'Plaza del Ayuntamiento 789', 'Valencia', '46004'),
    (31, 'Francisco', 'Ríos', '1983-12-07', 'M', 'Calle de la Paz 123', 'Málaga', '29003'),
    (32, 'Adriana', 'Guerrero', '1990-04-30', 'F', 'Avenida del Paralelo 456', 'Barcelona', '08007'),
    (33, 'Ernesto', 'Montes', '1978-08-13', 'M', 'Calle Larios 789', 'Málaga', '29004'),
    (34, 'Valeria', 'Espinosa', '1997-03-06', 'F', 'Paseo de la Castellana 123', 'Madrid', '28006'),
    (35, 'Gustavo', 'Hidalgo', '1984-11-19', 'M', 'Rambla del Prat 456', 'Barcelona', '08008'),
    (36, 'Natalia', 'Aguilar', '1992-07-02', 'F', 'Calle San Fernando 789', 'Sevilla', '41005'),
    (37, 'Rodrigo', 'Serrano', '1980-05-25', 'M', 'Plaza de la Virgen 123', 'Valencia', '46005'),
    (38, 'Gabriela', 'Arias', '1988-02-08', 'F', 'Avenida de la Ilustración 456', 'Zaragoza', '50004'),
    (39, 'Mateo', 'Córdoba', '1986-09-21', 'M', 'Calle de las Huertas 789', 'Madrid', '28007'),
    (40, 'Camila', 'Acosta', '1994-01-14', 'F', 'Paseo de Gracia 123', 'Barcelona', '08009'),
    (41, 'Nicolás', 'Ledesma', '1981-06-27', 'M', 'Calle Larga 456', 'Sevilla', '41006'),
    (42, 'Mariana', 'Pizarro', '1989-12-10', 'F', 'Plaza de la Reina 789', 'Valencia', '46006'),
    (43, 'Leonardo', 'Escobar', '1983-04-03', 'M', 'Rambla de Cataluña 123', 'Barcelona', '08010'),
    (44, 'Valentina', 'Piña', '1996-10-26', 'F', 'Calle Mayor 456', 'Madrid', '28008'),
    (45, 'Damián', 'Arce', '1977-07-09', 'M', 'Paseo Marítimo 789', 'Málaga', '29005'),
    (46, 'Rebeca', 'Cisneros', '1991-03-22', 'F', 'Avenida del Puerto 123', 'Alicante', '03004'),
    (47, 'Samuel', 'Villalobos', '1985-11-05', 'M', 'Calle Colón 456', 'Sevilla', '41007'),
    (48, 'Renata', 'Segovia', '1993-08-18', 'F', 'Plaza del Pilar 789', 'Zaragoza', '50005'),
    (49, 'Emiliano', 'Salcedo', '1980-02-01', 'M', 'Rambla del Prat 123', 'Barcelona', '08011'),
    (50, 'Isabella', 'Quintero', '1997-06-14', 'F', 'Calle de los Olivos 23', 'Madrid', '28019'),
    (51, 'Tomás', 'Castañeda', '1982-09-27', 'M', 'Calle Bravo Murillo 456', 'Madrid', '28009'),
    (52, 'Sofía', 'Uribe', '1990-05-10', 'F', 'Paseo de la Castellana 789', 'Madrid', '28010'),
    (53, 'Martín', 'Salinas', '1986-12-03', 'M', 'Avenida Diagonal 123', 'Barcelona', '08012'),
    (54, 'Antonella', 'Rincón', '1995-04-16', 'F', 'Calle Larios 456', 'Málaga', '29006'),
    (55, 'Santiago', 'Estrada', '1979-11-29', 'M', 'Plaza de la Reina 789', 'Valencia', '46007'),
    (56, 'Catalina', 'Solano', '1988-07-12', 'F', 'Rambla del Prat 123', 'Barcelona', '08013'),
    (57, 'Benjamín', 'Carvajal', '1984-03-25', 'M', 'Paseo Marítimo 456', 'Alicante', '03005'),
    (58, 'Constanza', 'Avendaño', '1992-10-08', 'F', 'Calle San Fernando 789', 'Sevilla', '41008'),
    (59, 'Joaquín', 'Cáceres', '1981-06-21', 'M', 'Plaza del Pilar 123', 'Zaragoza', '50006'),
    (60, 'Isadora', 'Echevarría', '1996-01-04', 'F', 'Avenida de la Palmera 456', 'Sevilla', '41009'),
    (61, 'Lucas', 'Pizarro', '1979-08-17', 'M', 'Calle de la Montera 789', 'Madrid', '28011'),
    (62, 'Antonia', 'Zúñiga', '1987-03-30', 'F', 'Paseo de Gracia 123', 'Barcelona', '08014'),
    (63, 'Matías', 'Márquez', '1983-11-13', 'M', 'Rambla de Cataluña 456', 'Barcelona', '08015'),
    (64, 'Rafaela', 'Acuña', '1991-07-26', 'F', 'Calle Mayor 789', 'Madrid', '28012'),
    (65, 'Maximiliano', 'Yáñez', '1985-02-09', 'M', 'Plaza de las Flores 123', 'Zaragoza', '50007'),
    (66, 'Julieta', 'Baeza', '1994-09-22', 'F', 'Avenida del Paralelo 456', 'Barcelona', '08016'),
    (67, 'Ezequiel', 'Montero', '1980-05-05', 'M', 'Calle Larios 789', 'Málaga', '29007'),
    (68, 'Florencia', 'Quintana', '1988-12-18', 'F', 'Paseo de la Castellana 123', 'Madrid', '28013'),
    (69, 'Thiago', 'Olivares', '1986-08-01', 'M', 'Rambla del Prat 456', 'Barcelona', '08017'),
    (70, 'Bianca', 'Rendón', '1993-04-14', 'F', 'Calle San Fernando 789', 'Sevilla', '41010'),
    (71, 'Cristóbal', 'Palacios', '1979-10-27', 'M', 'Plaza de la Virgen 123', 'Valencia', '46008'),
    (72, 'Amanda', 'Parra', '1991-06-09', 'F', 'Avenida de la Ilustración 456', 'Zaragoza', '50008'),
    (73, 'Emilio', 'Crespo', '1984-01-22', 'M', 'Calle de las Huertas 789', 'Madrid', '28014'),
    (74, 'Ariana', 'Henríquez', '1996-09-05', 'F', 'Paseo de Gracia 123', 'Barcelona', '08018'),
    (75, 'Salvador', 'Morales', '1982-05-18', 'M', 'Calle Larga 456', 'Sevilla', '41011'),
    (76, 'Fernanda', 'Tapia', '1989-11-01', 'F', 'Plaza de la Reina 789', 'Valencia', '46009'),
    (77, 'Emmanuel', 'Concha', '1987-07-14', 'M', 'Rambla de Cataluña 123', 'Barcelona', '08019'),
    (78, 'Dulce', 'Quintero', '1995-02-27', 'F', 'Calle Mayor 456', 'Madrid', '28015'),
    (79, 'Lisandro', 'Peralta', '1981-09-10', 'M', 'Paseo Marítimo 789', 'Málaga', '29008'),
    (80, 'Luana', 'Santamaría', '1993-06-23', 'F', 'Avenida del Puerto 123', 'Alicante', '03006'),
    (81, 'Máximo', 'Saldivar', '1986-12-06', 'M', 'Calle Colón 456', 'Sevilla', '41012'),
    (82, 'Violeta', 'Ugarte', '1990-04-19', 'F', 'Plaza del Pilar 789', 'Zaragoza', '50009'),
    (83, 'Ignacio', 'Solís', '1978-11-02', 'M', 'Rambla del Prat 123', 'Barcelona', '08020'),
    (84, 'Avril', 'Olmedo', '1997-07-15', 'F', 'Calle Bravo Murillo 456', 'Madrid', '28016'),
    (85, 'Leonel', 'Urrutia', '1984-03-28', 'M', 'Paseo de la Castellana 789', 'Madrid', '28017'),
    (86, 'Paloma', 'Espinoza', '1992-10-11', 'F', 'Avenida Diagonal 123', 'Barcelona', '08021'),
    (87, 'Fabrizio', 'Mora', '1980-06-24', 'M', 'Calle Larios 456', 'Málaga', '29009'),
    (88, 'Maite', 'Heredia', '1988-02-07', 'F', 'Plaza de la Reina 789', 'Valencia', '46010'),
    (89, 'Gael', 'Bernal', '1986-09-20', 'M', 'Rambla del Prat 123', 'Barcelona', '08022'),
    (90, 'Amelia', 'Polo', '1985-08-19', 'F', 'Calle de los Pintores 12', 'Málaga', '28025'),
    (91, 'Amelia', 'Peña', '1994-05-03', 'F', 'Paseo Marítimo 456', 'Alicante', '03007'),
    (92, 'Bautista', 'Contreras', '1981-12-16', 'M', 'Calle San Fernando 789', 'Sevilla', '41013'),
    (93, 'Luciana', 'Velázquez', '1989-08-29', 'F', 'Plaza del Pilar 123', 'Zaragoza', '50010'),
    (94, 'Tristán', 'Sepúlveda', '1987-04-12', 'M', 'Avenida de la Palmera 456', 'Sevilla', '41014'),
    (95, 'Jimena', 'Galindo', '1995-11-25', 'F', 'Calle de la Montera 789', 'Madrid', '28018'),
    (96, 'Álvaro', 'Leal', '1983-07-08', 'M', 'Paseo de Gracia 123', 'Barcelona', '08023'),
    (97, 'Dafne', 'Robles', '1991-03-21', 'F', 'Rambla de Cataluña 456', 'Barcelona', '08024'),
    (98, 'Ángel', 'Zepeda', '1979-10-04', 'M', 'Calle Mayor 789', 'Madrid', '28019'),
    (99, 'Esmeralda', 'Vigil', '1987-06-17', 'F', 'Plaza de las Flores 123', 'Zaragoza', '50011'),
    (100, 'Pascual', 'Betancourt', '1985-01-30', 'M', 'Avenida del Paralelo 456', 'Barcelona', '08025');

- **Insertar los datos en la tabla Cuentas**

In [6]:

INSERT INTO bank.Cuentas (CuentaID, ClienteID, TipoCuenta, FechaApertura, Saldo)
VALUES
    (1, 1, 'Ahorros', '2010-05-15', 5678.25),
    (2, 1, 'Corriente', '2010-05-15', 2345.67),
    (3, 2, 'Ahorros', '2015-03-20', 9876.54),
    (4, 3, 'Corriente', '2008-11-01', 1234.56),
    (5, 4, 'Ahorros', '2012-07-25', 7890.25),
    (6, 5, 'Corriente', '2018-02-10', 3456.78),
    (7, 6, 'Ahorros', '2014-09-05', 6789.01),
    (8, 7, 'Corriente', '2011-04-18', 2345.67),
    (9, 8, 'Ahorros', '2017-12-31', 8765.43),
    (10, 9, 'Corriente', '2013-06-07', 4567.89),
    (11, 10, 'Ahorros', '2019-01-15', 9012.34),
    (12, 11, 'Corriente', '2009-08-22', 5678.90),
    (13, 12, 'Ahorros', '2016-05-03', 7890.12),
    (14, 13, 'Corriente', '2010-11-28', 3456.78),
    (15, 14, 'Ahorros', '2018-07-10', 6789.34),
    (16, 15, 'Corriente', '2014-03-15', 2345.67),
    (17, 16, 'Ahorros', '2020-02-20', 8765.09),
    (18, 17, 'Corriente', '2011-09-01', 4567.23),
    (19, 18, 'Ahorros', '2017-04-25', 9012.45),
    (20, 19, 'Corriente', '2013-12-08', 5678.67),
    (21, 20, 'Ahorros', '2019-06-30', 7890.89),
    (22, 21, 'Corriente', '2015-01-12', 3456.01),
    (23, 22, 'Ahorros', '2012-08-05', 6789.12),
    (24, 23, 'Corriente', '2016-11-18', 2345.34),
    (25, 24, 'Ahorros', '2020-04-02', 8765.56),
    (26, 25, 'Corriente', '2014-07-27', 4567.78),
    (27, 26, 'Ahorros', '2018-03-10', 9012.90),
    (28, 27, 'Corriente', '2011-10-15', 5678.12),
    (29, 28, 'Ahorros', '2017-06-01', 7890.34),
    (30, 29, 'Corriente', '2013-02-25', 3456.56),
    (31, 30, 'Ahorros', '2019-09-08', 6789.78),
    (32, 31, 'Corriente', '2015-04-20', 2345.90),
    (33, 32, 'Ahorros', '2011-11-13', 8765.12),
    (34, 33, 'Corriente', '2016-07-05', 4567.34),
    (35, 34, 'Ahorros', '2020-02-28', 9012.56),
    (36, 35, 'Corriente', '2012-09-22', 5678.78),
    (37, 36, 'Ahorros', '2018-05-17', 7890.90),
    (38, 37, 'Corriente', '2014-01-03', 3456.12),
    (39, 38, 'Ahorros', '2019-10-25', 6789.34),
    (40, 39, 'Corriente', '2015-07-11', 2345.56),
    (41, 40, 'Ahorros', '2013-04-03', 8765.78),
    (42, 41, 'Corriente', '2017-11-18', 4567.90),
    (43, 42, 'Ahorros', '2020-06-01', 9012.12),
    (44, 43, 'Corriente', '2016-02-14', 5678.34),
    (45, 44, 'Ahorros', '2012-08-27', 7890.56),
    (46, 45, 'Corriente', '2018-03-10', 3456.78),
    (47, 46, 'Ahorros', '2014-10-05', 6789.90),
    (48, 47, 'Corriente', '2019-05-22', 2345.12),
    (49, 48, 'Ahorros', '2015-01-08', 8765.34),
    (50, 49, 'Corriente', '2011-09-30', 4567.56),
    (51, 50, 'Ahorros', '2017-06-15', 9012.78),
    (52, 51, 'Corriente', '2013-03-01', 5678.90),
    (53, 52, 'Ahorros', '2019-11-20', 7890.12),
    (54, 53, 'Corriente', '2016-08-07', 3456.34),
    (55, 54, 'Ahorros', '2014-04-25', 6789.56),
    (56, 55, 'Corriente', '2020-01-10', 2345.78),
    (57, 56, 'Ahorros', '2012-07-03', 8765.90),
    (58, 57, 'Corriente', '2018-02-18', 4567.12),
    (59, 58, 'Ahorros', '2015-09-01', 9012.34),
    (60, 59, 'Corriente', '2011-05-27', 5678.56),
    (61, 60, 'Ahorros', '2017-12-10', 7890.78),
    (62, 61, 'Corriente', '2013-06-23', 3456.90),
    (63, 62, 'Ahorros', '2019-03-08', 6789.12),
    (64, 63, 'Corriente', '2015-10-31', 2345.34),
    (65, 64, 'Ahorros', '2012-04-14', 8765.56),
    (66, 65, 'Corriente', '2018-11-01', 4567.78),
    (67, 66, 'Ahorros', '2016-06-25', 9012.90),
    (68, 67, 'Corriente', '2014-02-09', 5678.12),
    (69, 68, 'Ahorros', '2020-09-17', 7890.34),
    (70, 69, 'Corriente', '2017-05-03', 3456.56),
    (71, 70, 'Ahorros', '2013-12-20', 6789.78),
    (72, 71, 'Corriente', '2019-07-15', 2345.90),
    (73, 72, 'Ahorros', '2015-03-28', 8765.12),
    (74, 73, 'Corriente', '2011-10-11', 4567.34),
    (75, 74, 'Ahorros', '2018-04-24', 9012.56),
    (76, 75, 'Corriente', '2016-01-07', 5678.78),
    (77, 76, 'Ahorros', '2014-08-31', 7890.90),
    (78, 77, 'Corriente', '2020-05-16', 3456.12),
    (79, 78, 'Ahorros', '2012-11-03', 6789.34),
    (80, 79, 'Corriente', '2019-06-29', 2345.56),
    (81, 80, 'Ahorros', '2017-02-12', 8765.78),
    (82, 81, 'Corriente', '2013-09-05', 4567.90),
    (83, 82, 'Ahorros', '2015-04-20', 9012.12),
    (84, 83, 'Corriente', '2011-11-14', 5678.34),
    (85, 84, 'Ahorros', '2018-07-08', 7890.56),
    (86, 85, 'Corriente', '2016-03-01', 3456.78),
    (87, 86, 'Ahorros', '2014-10-25', 6789.90),
    (88, 87, 'Corriente', '2020-06-18', 2345.12),
    (89, 88, 'Ahorros', '2012-02-11', 8765.34),
    (90, 89, 'Corriente', '2019-09-04', 4567.56),
    (91, 90, 'Ahorros', '2017-05-27', 9012.78),
    (92, 91, 'Corriente', '2013-12-10', 5678.90),
    (93, 92, 'Ahorros', '2015-07-03', 7890.12),
    (94, 93, 'Corriente', '2011-03-26', 3456.34),
    (95, 94, 'Ahorros', '2018-10-09', 6789.56),
    (96, 95, 'Corriente', '2016-05-22', 2345.78),
    (97, 96, 'Ahorros', '2014-01-15', 8765.90),
    (98, 97, 'Corriente', '2020-08-29', 4567.12),
    (99, 98, 'Ahorros', '2012-04-03', 9012.34),
    (100, 99, 'Corriente', '2019-11-17', 5678.56);

- **Insertar los datos en la tabla Transacciones**

In [7]:

INSERT INTO bank.Transacciones (TransaccionID, CuentaID, Fecha, Tipo, Monto, Descripcion)
VALUES
    (1, 1, '2023-04-01', 'Depósito', 500.00, 'Depósito de nómina'),
    (2, 2, '2023-04-05', 'Retiro', 200.00, 'Retiro en cajero automático'),
    (3, 3, '2023-04-10', 'Transferencia', 1000.00, 'Transferencia desde otra cuenta'),
    (4, 4, '2023-04-15', 'Pago', 300.00, 'Pago de servicios públicos'),
    (5, 5, '2023-04-20', 'Depósito', 2000.00, 'Depósito de cheque'),
    (6, 6, '2023-04-25', 'Retiro', 150.00, 'Retiro en cajero automático'),
    (7, 7, '2023-04-30', 'Transferencia', 800.00, 'Transferencia a otra cuenta'),
    (8, 8, '2023-05-05', 'Pago', 400.00, 'Pago de tarjeta de crédito'),
    (9, 9, '2023-05-10', 'Depósito', 1500.00, 'Depósito de nómina'),
    (10, 10, '2023-05-15', 'Retiro', 250.00, 'Retiro en cajero automático'),
    (11, 11, '2023-05-20', 'Transferencia', 1200.00, 'Transferencia desde otra cuenta'),
    (12, 12, '2023-05-25', 'Pago', 350.00, 'Pago de servicios públicos'),
    (13, 13, '2023-05-30', 'Depósito', 2500.00, 'Depósito de cheque'),
    (14, 14, '2023-06-04', 'Retiro', 180.00, 'Retiro en cajero automático'),
    (15, 15, '2023-06-09', 'Transferencia', 900.00, 'Transferencia a otra cuenta'),
    (16, 16, '2023-06-14', 'Pago', 450.00, 'Pago de tarjeta de crédito'),
    (17, 17, '2023-06-19', 'Depósito', 1800.00, 'Depósito de nómina'),
    (18, 18, '2023-06-24', 'Retiro', 220.00, 'Retiro en cajero automático'),
    (19, 19, '2023-06-29', 'Transferencia', 1100.00, 'Transferencia desde otra cuenta'),
    (20, 20, '2023-07-04', 'Pago', 380.00, 'Pago de servicios públicos'),
    (21, 21, '2023-07-09', 'Depósito', 2200.00, 'Depósito de cheque'),
    (22, 22, '2023-07-14', 'Retiro', 160.00, 'Retiro en cajero automático'),
    (23, 23, '2023-07-19', 'Transferencia', 850.00, 'Transferencia a otra cuenta'),
    (24, 24, '2023-07-24', 'Pago', 420.00, 'Pago de tarjeta de crédito'),
    (25, 25, '2023-07-29', 'Depósito', 1900.00, 'Depósito de nómina'),
    (26, 26, '2023-08-03', 'Retiro', 240.00, 'Retiro en cajero automático'),
    (27, 27, '2023-08-08', 'Transferencia', 1300.00, 'Transferencia desde otra cuenta'),
    (28, 28, '2023-08-13', 'Pago', 390.00, 'Pago de servicios públicos'),
    (29, 29, '2023-08-18', 'Depósito', 2700.00, 'Depósito de cheque'),
    (30, 30, '2023-08-23', 'Retiro', 170.00, 'Retiro en cajero automático'),
    (31, 31, '2023-08-28', 'Transferencia', 950.00, 'Transferencia a otra cuenta'),
    (32, 32, '2023-09-02', 'Pago', 460.00, 'Pago de tarjeta de crédito'),
    (33, 33, '2023-09-07', 'Depósito', 2100.00, 'Depósito de nómina'),
    (34, 34, '2023-09-12', 'Retiro', 280.00, 'Retiro en cajero automático'),
    (35, 35, '2023-09-17', 'Transferencia', 1400.00, 'Transferencia desde otra cuenta'),
    (36, 36, '2023-09-22', 'Pago', 330.00, 'Pago de servicios públicos'),
    (37, 37, '2023-09-27', 'Depósito', 2300.00, 'Depósito de cheque'),
    (38, 38, '2023-10-02', 'Retiro', 190.00, 'Retiro en cajero automático'),
    (39, 39, '2023-10-07', 'Transferencia', 1000.00, 'Transferencia a otra cuenta'),
    (40, 40, '2023-10-12', 'Pago', 480.00, 'Pago de tarjeta de crédito'),
    (41, 41, '2023-10-17', 'Depósito', 2400.00, 'Depósito de nómina'),
    (42, 42, '2023-10-22', 'Retiro', 260.00, 'Retiro en cajero automático'),
    (43, 43, '2023-10-27', 'Transferencia', 1500.00, 'Transferencia desde otra cuenta'),
    (44, 44, '2023-11-01', 'Pago', 360.00, 'Pago de servicios públicos'),
    (45, 45, '2023-11-06', 'Depósito', 2800.00, 'Depósito de cheque'),
    (46, 46, '2023-11-11', 'Retiro', 210.00, 'Retiro en cajero automático'),
    (47, 47, '2023-11-16', 'Transferencia', 1100.00, 'Transferencia a otra cuenta'),
    (48, 48, '2023-11-21', 'Pago', 490.00, 'Pago de tarjeta de crédito'),
    (49, 49, '2023-11-26', 'Depósito', 2500.00, 'Depósito de nómina'),
    (50, 50, '2023-12-01', 'Retiro', 290.00, 'Retiro en cajero automático'),
    (51, 51, '2023-12-06', 'Transferencia', 1600.00, 'Transferencia desde otra cuenta'),
    (52, 52, '2023-12-11', 'Pago', 370.00, 'Pago de servicios públicos'),
    (53, 53, '2023-12-16', 'Depósito', 3000.00, 'Depósito de cheque'),
    (54, 54, '2023-12-21', 'Retiro', 230.00, 'Retiro en cajero automático'),
    (55, 55, '2023-12-26', 'Transferencia', 1200.00, 'Transferencia a otra cuenta'),
    (56, 56, '2023-12-31', 'Pago', 520.00, 'Pago de tarjeta de crédito'),
    (57, 1, '2024-01-05', 'Depósito', 2600.00, 'Depósito de nómina'),
    (58, 2, '2024-01-10', 'Retiro', 300.00, 'Retiro en cajero automático'),
    (59, 3, '2024-01-15', 'Transferencia', 1700.00, 'Transferencia desde otra cuenta'),
    (60, 4, '2024-01-20', 'Pago', 400.00, 'Pago de servicios públicos'),
    (61, 5, '2024-01-25', 'Depósito', 3200.00, 'Depósito de cheque'),
    (62, 6, '2024-01-30', 'Retiro', 250.00, 'Retiro en cajero automático'),
    (63, 7, '2024-02-04', 'Transferencia', 1300.00, 'Transferencia a otra cuenta'),
    (64, 8, '2024-02-09', 'Pago', 530.00, 'Pago de tarjeta de crédito'),
    (65, 9, '2024-02-14', 'Depósito', 2700.00, 'Depósito de nómina'),
    (66, 10, '2024-02-19', 'Retiro', 320.00, 'Retiro en cajero automático'),
    (67, 11, '2024-02-24', 'Transferencia', 1800.00, 'Transferencia desde otra cuenta'),
    (68, 12, '2024-02-29', 'Pago', 430.00, 'Pago de servicios públicos'),
    (69, 13, '2024-03-05', 'Depósito', 3400.00, 'Depósito de cheque'),
    (70, 14, '2024-03-10', 'Retiro', 270.00, 'Retiro en cajero automático'),
    (71, 15, '2024-03-15', 'Transferencia', 1400.00, 'Transferencia a otra cuenta'),
    (72, 16, '2024-03-20', 'Pago', 560.00, 'Pago de tarjeta de crédito'),
    (73, 17, '2024-03-25', 'Depósito', 2800.00, 'Depósito de nómina'),
    (74, 18, '2024-03-30', 'Retiro', 340.00, 'Retiro en cajero automático'),
    (75, 19, '2024-04-04', 'Transferencia', 1900.00, 'Transferencia desde otra cuenta'),
    (76, 20, '2024-04-09', 'Pago', 460.00, 'Pago de servicios públicos'),
    (77, 21, '2024-04-14', 'Depósito', 3500.00, 'Depósito de cheque'),
    (78, 22, '2024-04-19', 'Retiro', 280.00, 'Retiro en cajero automático'),
    (79, 23, '2024-04-24', 'Transferencia', 1500.00, 'Transferencia a otra cuenta'),
    (80, 24, '2024-04-29', 'Pago', 590.00, 'Pago de tarjeta de crédito'),
    (81, 25, '2024-05-04', 'Depósito', 2900.00, 'Depósito de nómina'),
    (82, 26, '2024-05-09', 'Retiro', 360.00, 'Retiro en cajero automático'),
    (83, 27, '2024-05-14', 'Transferencia', 2000.00, 'Transferencia desde otra cuenta'),
    (84, 28, '2024-05-19', 'Pago', 470.00, 'Pago de servicios públicos'),
    (85, 29, '2024-05-24', 'Depósito', 3600.00, 'Depósito de cheque'),
    (86, 30, '2024-05-29', 'Retiro', 290.00, 'Retiro en cajero automático'),
    (87, 31, '2024-06-03', 'Transferencia', 1600.00, 'Transferencia a otra cuenta'),
    (88, 32, '2024-06-08', 'Pago', 620.00, 'Pago de tarjeta de crédito'),
    (89, 33, '2024-06-13', 'Depósito', 3000.00, 'Depósito de nómina'),
    (90, 34, '2024-06-18', 'Retiro', 380.00, 'Retiro en cajero automático'), 
    (91, 35, '2024-06-23', 'Transferencia', 2100.00, 'Transferencia desde otra cuenta'),
    (92, 36, '2024-06-28', 'Pago', 500.00, 'Pago de servicios públicos'),
    (93, 37, '2024-07-03', 'Depósito', 3700.00, 'Depósito de cheque'),
    (94, 38, '2024-07-08', 'Retiro', 310.00, 'Retiro en cajero automático'),
    (95, 39, '2024-07-13', 'Transferencia', 1700.00, 'Transferencia a otra cuenta'),
    (96, 40, '2024-07-18', 'Pago', 630.00, 'Pago de tarjeta de crédito'),
    (97, 41, '2024-07-23', 'Depósito', 3100.00, 'Depósito de nómina'),
    (98, 42, '2024-07-28', 'Retiro', 390.00, 'Retiro en cajero automático'),
    (99, 43, '2024-08-02', 'Transferencia', 2200.00, 'Transferencia desde otra cuenta'),
    (100, 44, '2024-08-07', 'Pago', 530.00, 'Pago de servicios públicos');

## Preguntas

**1\. ¿Cuántos clientes hay en la base de datos?**

In [9]:
USE bank;
SELECT COUNT(*) AS TotalClientes
FROM clientes;

TotalClientes
100

**2. ¿Cuál es el saldo total de todas las cuentas?**

In [59]:
SELECT 
    SUM(Saldo) AS SaldoTotal
FROM 
    cuentas;

SaldoTotal
601209.06

**3. ¿Cuál es el cliente con la cuenta de mayor saldo?**

In [58]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido,
    cu.CuentaID,
    cu.Saldo
FROM 
    clientes cl
JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
ORDER BY 
    cu.Saldo DESC
LIMIT 1;

ClienteID,Nombre,Apellido,CuentaID,Saldo
2,María,García,3,9876.54

**4. ¿Cuántas cuentas de ahorros hay en total?**

In [57]:
SELECT 
    COUNT(*) AS TotalCuentasAhorros
FROM 
    cuentas
WHERE 
    TipoCuenta = 'Ahorros';

TotalCuentasAhorros
50

**5. ¿Cuál es el monto total de depósitos realizados?**

In [56]:
SELECT 
    SUM(Monto) AS MontoTotalDepositos
FROM 
    transacciones
WHERE 
    Tipo = 'Depósito';

MontoTotalDepositos
64700.00

**6. ¿Cuál es el cliente con la mayor cantidad de cuentas?**

In [55]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido,
    COUNT(cu.CuentaID) AS NumeroCuentas
FROM 
    clientes cl
JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
GROUP BY 
    cl.ClienteID, cl.Nombre, cl.Apellido
ORDER BY 
    NumeroCuentas DESC
LIMIT 1;

ClienteID,Nombre,Apellido,NumeroCuentas
1,Juan,Pérez,2

**7. ¿Cuál es la ciudad con más clientes?**

In [54]:
SELECT 
    Ciudad,
    COUNT(*) AS NumeroClientes
FROM 
    clientes
GROUP BY 
    Ciudad
ORDER BY 
    NumeroClientes DESC
LIMIT 1;

Ciudad,NumeroClientes
Barcelona,24

**8. ¿Cuál es el monto promedio de los retiros?**

In [53]:
SELECT 
    AVG(Monto) AS MontoPromedioRetiros
FROM 
    transacciones
WHERE 
    Tipo = 'Retiro';

MontoPromedioRetiros
260.800000

**9. ¿Cuáles son los clientes que no tienen cuentas?**

In [52]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido
FROM 
    clientes cl
LEFT JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
WHERE 
    cu.CuentaID IS NULL;

ClienteID,Nombre,Apellido
100,Pascual,Betancourt

**10. ¿Cuál es la cuenta con la mayor cantidad de transacciones?**

In [51]:
SELECT 
    CuentaID,
    COUNT(*) AS NumeroTransacciones
FROM 
    transacciones
GROUP BY 
    CuentaID
ORDER BY 
    NumeroTransacciones DESC
LIMIT 1;

CuentaID,NumeroTransacciones
1,2

<span style="color: var(--vscode-foreground);"><b>11.</b>&nbsp;</span> **¿Cuáles son los clientes que tienen cuentas de ahorros y corrientes?**

In [50]:
SELECT DISTINCT
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido
FROM 
    clientes cl
JOIN 
    cuentas cu1 ON cl.ClienteID = cu1.ClienteID
JOIN 
    cuentas cu2 ON cl.ClienteID = cu2.ClienteID
WHERE 
    cu1.TipoCuenta = 'Ahorros' 
    AND cu2.TipoCuenta = 'Corriente';

ClienteID,Nombre,Apellido
1,Juan,Pérez

**12\. ¿Cuál es el monto total de transacciones por tipo (depósito, retiro, transferencia, pago)?**

In [49]:
SELECT 
    Tipo,
    SUM(Monto) AS MontoTotal
FROM 
    transacciones
GROUP BY 
    Tipo;

Tipo,MontoTotal
Depósito,64700.00
Retiro,6520.00
Transferencia,35100.00
Pago,11420.00

**13. ¿Cuál es la cuenta con el saldo más bajo?**

In [48]:
SELECT 
    CuentaID,
    Saldo
FROM 
    cuentas
ORDER BY 
    Saldo ASC
LIMIT 1;

CuentaID,Saldo
4,1234.56

**14. ¿Cuáles son los clientes que no han realizado transacciones?**

In [47]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido
FROM 
    clientes cl
LEFT JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
LEFT JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID
WHERE 
    t.CuentaID IS NULL;

ClienteID,Nombre,Apellido
56,Catalina,Solano
57,Benjamín,Carvajal
58,Constanza,Avendaño
59,Joaquín,Cáceres
60,Isadora,Echevarría
61,Lucas,Pizarro
62,Antonia,Zúñiga
63,Matías,Márquez
64,Rafaela,Acuña
65,Maximiliano,Yáñez
66,Julieta,Baeza
67,Ezequiel,Montero
68,Florencia,Quintana
69,Thiago,Olivares
70,Bianca,Rendón
71,Cristóbal,Palacios
72,Amanda,Parra
73,Emilio,Crespo
74,Ariana,Henríquez
75,Salvador,Morales
76,Fernanda,Tapia
77,Emmanuel,Concha
78,Dulce,Quintero
79,Lisandro,Peralta
80,Luana,Santamaría
81,Máximo,Saldivar
82,Violeta,Ugarte
83,Ignacio,Solís
84,Avril,Olmedo
85,Leonel,Urrutia
86,Paloma,Espinoza
87,Fabrizio,Mora
88,Maite,Heredia
89,Gael,Bernal
90,Amelia,Polo
91,Amelia,Peña
92,Bautista,Contreras
93,Luciana,Velázquez
94,Tristán,Sepúlveda
95,Jimena,Galindo
96,Álvaro,Leal
97,Dafne,Robles
98,Ángel,Zepeda
99,Esmeralda,Vigil
100,Pascual,Betancourt

**15. ¿Cuál es la fecha de la transacción más antigua?**

In [46]:
SELECT 
    MIN(Fecha) AS FechaTransaccionMasAntigua
FROM 
    transacciones;

FechaTransaccionMasAntigua
2023-04-01

**16. ¿Cuáles son las 10 cuentas con mayor saldo?**

In [45]:
SELECT 
    CuentaID,
    Saldo
FROM 
    cuentas
ORDER BY 
    Saldo DESC
LIMIT 10;

CuentaID,Saldo
3,9876.54
27,9012.90
67,9012.90
91,9012.78
51,9012.78
75,9012.56
35,9012.56
19,9012.45
59,9012.34
11,9012.34

**17. ¿Cuál es el cliente con la mayor cantidad de transacciones?**

In [44]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido,
    COUNT(t.TransaccionID) AS NumeroTransacciones
FROM 
    clientes cl
JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY 
    cl.ClienteID, cl.Nombre, cl.Apellido
ORDER BY 
    NumeroTransacciones DESC
LIMIT 1;

ClienteID,Nombre,Apellido,NumeroTransacciones
1,Juan,Pérez,4

**18. ¿Cuáles son las 5 ciudades con más clientes?**

In [43]:
SELECT 
    Ciudad,
    COUNT(*) AS NumeroClientes
FROM 
    clientes
GROUP BY 
    Ciudad
ORDER BY 
    NumeroClientes DESC
LIMIT 5;

Ciudad,NumeroClientes
Barcelona,24
Madrid,20
Sevilla,14
Zaragoza,11
Málaga,10

**19. ¿Cuál es el monto promedio de las transferencias?**

In [42]:
SELECT 
    AVG(Monto) AS MontoPromedioTransferencias
FROM 
    transacciones
WHERE 
    Tipo = 'Transferencia';

MontoPromedioTransferencias
1404.000000

**20. ¿Cuáles son los clientes que tienen cuentas abiertas en los últimos 6 meses?**

In [41]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido
FROM 
    clientes cl
JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
WHERE 
    cu.FechaApertura >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH);

**21. ¿Cuál es el monto total de pagos realizados?**

In [40]:
SELECT 
    SUM(Monto) AS MontoTotalPagos
FROM 
    transacciones
WHERE 
    Tipo = 'Pago';

MontoTotalPagos
11420.00

**22. ¿Cuáles son los clientes que tienen cuentas inactivas (sin transacciones en los últimos 3 meses)?**

In [39]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido
FROM 
    clientes cl
JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
LEFT JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID AND t.Fecha >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
WHERE 
    t.CuentaID IS NULL;

ClienteID,Nombre,Apellido
1,Juan,Pérez
1,Juan,Pérez
2,María,García
3,Pedro,Rodríguez
4,Ana,Martínez
5,Carlos,Sánchez
6,Laura,Fernández
7,Javier,Gómez
8,Sofía,Torres
44,Valentina,Piña
45,Damián,Arce
46,Rebeca,Cisneros
47,Samuel,Villalobos
48,Renata,Segovia
49,Emiliano,Salcedo
50,Isabella,Quintero
51,Tomás,Castañeda
52,Sofía,Uribe
53,Martín,Salinas
54,Antonella,Rincón
55,Santiago,Estrada
56,Catalina,Solano
57,Benjamín,Carvajal
58,Constanza,Avendaño
59,Joaquín,Cáceres
60,Isadora,Echevarría
61,Lucas,Pizarro
62,Antonia,Zúñiga
63,Matías,Márquez
64,Rafaela,Acuña
65,Maximiliano,Yáñez
66,Julieta,Baeza
67,Ezequiel,Montero
68,Florencia,Quintana
69,Thiago,Olivares
70,Bianca,Rendón
71,Cristóbal,Palacios
72,Amanda,Parra
73,Emilio,Crespo
74,Ariana,Henríquez
75,Salvador,Morales
76,Fernanda,Tapia
77,Emmanuel,Concha
78,Dulce,Quintero
79,Lisandro,Peralta
80,Luana,Santamaría
81,Máximo,Saldivar
82,Violeta,Ugarte
83,Ignacio,Solís
84,Avril,Olmedo
85,Leonel,Urrutia
86,Paloma,Espinoza
87,Fabrizio,Mora
88,Maite,Heredia
89,Gael,Bernal
90,Amelia,Polo
91,Amelia,Peña
92,Bautista,Contreras
93,Luciana,Velázquez
94,Tristán,Sepúlveda
95,Jimena,Galindo
96,Álvaro,Leal
97,Dafne,Robles
98,Ángel,Zepeda
99,Esmeralda,Vigil

**23. ¿Cuál es el monto promedio de depósitos por ciudad?**

In [38]:
SELECT 
    cl.Ciudad,
    AVG(t.Monto) AS MontoPromedioDepositos
FROM 
    clientes cl
JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID
WHERE 
    t.Tipo = 'Depósito'
GROUP BY 
    cl.Ciudad;

Ciudad,MontoPromedioDepositos
Madrid,2225.000000
Valencia,2650.000000
Palma de Mallorca,2100.000000
Barcelona,2687.500000
Bilbao,2850.000000
Sevilla,3000.000000
Zaragoza,2500.000000

**24. ¿Cuáles son las 10 cuentas con más transacciones?**

In [37]:
SELECT 
    cu.CuentaID,
    COUNT(t.TransaccionID) AS NumeroTransacciones
FROM 
    cuentas cu
JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY 
    cu.CuentaID
ORDER BY 
    NumeroTransacciones DESC
LIMIT 10;

CuentaID,NumeroTransacciones
1,2
2,2
3,2
4,2
5,2
6,2
7,2
8,2
9,2
10,2

**25. ¿Cuáles son los clientes que tienen un saldo total (sumando todas sus cuentas) superior a $9000?**

In [36]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido,
    SUM(cu.Saldo) AS SaldoTotal
FROM 
    clientes cl
JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
GROUP BY 
    cl.ClienteID, cl.Nombre, cl.Apellido
HAVING 
    SaldoTotal > 9000;

ClienteID,Nombre,Apellido,SaldoTotal
2,María,García,9876.54
10,Isabel,Ramírez,9012.34
18,Lucía,Romero,9012.45
26,Silvia,Vargas,9012.90
34,Valeria,Espinosa,9012.56
42,Mariana,Pizarro,9012.12
50,Isabella,Quintero,9012.78
58,Constanza,Avendaño,9012.34
66,Julieta,Baeza,9012.90
74,Ariana,Henríquez,9012.56
82,Violeta,Ugarte,9012.12
90,Amelia,Polo,9012.78
98,Ángel,Zepeda,9012.34

**26. ¿Cuáles son las cuentas que han tenido transacciones en todas las fechas del último mes?**

In [35]:
SELECT 
    cu.CuentaID
FROM 
    cuentas cu
JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID
WHERE 
    t.Fecha >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
GROUP BY 
    cu.CuentaID
HAVING 
    COUNT(DISTINCT DATE(t.Fecha)) = DATEDIFF(CURDATE(), DATE_SUB(CURDATE(), INTERVAL 1 MONTH)) + 1;

**27. ¿Cuál es el monto promedio de transacciones por tipo de cuenta?**

In [34]:
SELECT 
    cu.TipoCuenta,
    AVG(t.Monto) AS MontoPromedio
FROM 
    cuentas cu
JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY 
    cu.TipoCuenta;

TipoCuenta,MontoPromedio
Ahorros,1996.000000
Corriente,358.800000

**28. ¿Cuáles son los clientes que tienen cuentas con saldo superior al saldo promedio de todas las cuentas?**

In [60]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido,
    cu.CuentaID,
    cu.Saldo
FROM 
    cuentas cu
JOIN 
    clientes cl ON cu.ClienteID = cl.ClienteID
WHERE 
    cu.Saldo > (SELECT AVG(Saldo) FROM cuentas);

ClienteID,Nombre,Apellido,CuentaID,Saldo
2,María,García,3,9876.54
4,Ana,Martínez,5,7890.25
6,Laura,Fernández,7,6789.01
8,Sofía,Torres,9,8765.43
10,Isabel,Ramírez,11,9012.34
12,Marta,Jiménez,13,7890.12
14,Carla,Ruiz,15,6789.34
16,Alicia,Gutiérrez,17,8765.09
18,Lucía,Romero,19,9012.45
20,Elena,Santos,21,7890.89
22,Cristina,Molina,23,6789.12
24,Daniela,Cabrera,25,8765.56
26,Silvia,Vargas,27,9012.90
28,Carolina,Pardo,29,7890.34
30,Claudia,Suárez,31,6789.78
32,Adriana,Guerrero,33,8765.12
34,Valeria,Espinosa,35,9012.56
36,Natalia,Aguilar,37,7890.90
38,Gabriela,Arias,39,6789.34
40,Camila,Acosta,41,8765.78
42,Mariana,Pizarro,43,9012.12
44,Valentina,Piña,45,7890.56
46,Rebeca,Cisneros,47,6789.90
48,Renata,Segovia,49,8765.34
50,Isabella,Quintero,51,9012.78
52,Sofía,Uribe,53,7890.12
54,Antonella,Rincón,55,6789.56
56,Catalina,Solano,57,8765.90
58,Constanza,Avendaño,59,9012.34
60,Isadora,Echevarría,61,7890.78
62,Antonia,Zúñiga,63,6789.12
64,Rafaela,Acuña,65,8765.56
66,Julieta,Baeza,67,9012.90
68,Florencia,Quintana,69,7890.34
70,Bianca,Rendón,71,6789.78
72,Amanda,Parra,73,8765.12
74,Ariana,Henríquez,75,9012.56
76,Fernanda,Tapia,77,7890.90
78,Dulce,Quintero,79,6789.34
80,Luana,Santamaría,81,8765.78
82,Violeta,Ugarte,83,9012.12
84,Avril,Olmedo,85,7890.56
86,Paloma,Espinoza,87,6789.90
88,Maite,Heredia,89,8765.34
90,Amelia,Polo,91,9012.78
92,Bautista,Contreras,93,7890.12
94,Tristán,Sepúlveda,95,6789.56
96,Álvaro,Leal,97,8765.90
98,Ángel,Zepeda,99,9012.34

**29. ¿Cuál es el monto total de transacciones por cliente y tipo de transacción?**

In [33]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido,
    t.Tipo,
    SUM(t.Monto) AS MontoTotal
FROM 
    clientes cl
JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY 
    cl.ClienteID, cl.Nombre, cl.Apellido, t.Tipo;

ClienteID,Nombre,Apellido,Tipo,MontoTotal
1,Juan,Pérez,Depósito,3100.00
1,Juan,Pérez,Retiro,500.00
2,María,García,Transferencia,2700.00
3,Pedro,Rodríguez,Pago,700.00
4,Ana,Martínez,Depósito,5200.00
5,Carlos,Sánchez,Retiro,400.00
6,Laura,Fernández,Transferencia,2100.00
7,Javier,Gómez,Pago,930.00
8,Sofía,Torres,Depósito,4200.00
9,Sergio,Navarro,Retiro,570.00
10,Isabel,Ramírez,Transferencia,3000.00
11,Andrés,Herrera,Pago,780.00
12,Marta,Jiménez,Depósito,5900.00
13,Luis,Moreno,Retiro,450.00
14,Carla,Ruiz,Transferencia,2300.00
15,Diego,Álvarez,Pago,1010.00
16,Alicia,Gutiérrez,Depósito,4600.00
17,Raúl,Vázquez,Retiro,560.00
18,Lucía,Romero,Transferencia,3000.00
19,Óscar,Ramos,Pago,840.00
20,Elena,Santos,Depósito,5700.00
21,Alejandro,Flores,Retiro,440.00
22,Cristina,Molina,Transferencia,2350.00
23,Mario,Castillo,Pago,1010.00
24,Daniela,Cabrera,Depósito,4800.00
25,Pablo,Ortega,Retiro,600.00
26,Silvia,Vargas,Transferencia,3300.00
27,Roberto,Sáez,Pago,860.00
28,Carolina,Pardo,Depósito,6300.00
29,David,Rojas,Retiro,460.00
30,Claudia,Suárez,Transferencia,2550.00
31,Francisco,Ríos,Pago,1080.00
32,Adriana,Guerrero,Depósito,5100.00
33,Ernesto,Montes,Retiro,660.00
34,Valeria,Espinosa,Transferencia,3500.00
35,Gustavo,Hidalgo,Pago,830.00
36,Natalia,Aguilar,Depósito,6000.00
37,Rodrigo,Serrano,Retiro,500.00
38,Gabriela,Arias,Transferencia,2700.00
39,Mateo,Córdoba,Pago,1110.00
40,Camila,Acosta,Depósito,5500.00
41,Nicolás,Ledesma,Retiro,650.00
42,Mariana,Pizarro,Transferencia,3700.00
43,Leonardo,Escobar,Pago,890.00
44,Valentina,Piña,Depósito,2800.00
45,Damián,Arce,Retiro,210.00
46,Rebeca,Cisneros,Transferencia,1100.00
47,Samuel,Villalobos,Pago,490.00
48,Renata,Segovia,Depósito,2500.00
49,Emiliano,Salcedo,Retiro,290.00
50,Isabella,Quintero,Transferencia,1600.00
51,Tomás,Castañeda,Pago,370.00
52,Sofía,Uribe,Depósito,3000.00
53,Martín,Salinas,Retiro,230.00
54,Antonella,Rincón,Transferencia,1200.00
55,Santiago,Estrada,Pago,520.00

**30. ¿Cuáles son las cuentas que no han tenido transacciones en los últimos 6 meses?**

In [32]:
SELECT 
    cu.CuentaID
FROM 
    cuentas cu
LEFT JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID AND t.Fecha >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
WHERE 
    t.CuentaID IS NULL;

CuentaID
45
46
47
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

**31. ¿Cuál es el monto promedio de transacciones por rango de edad de los clientes?**

In [31]:
SELECT 
    CASE
        WHEN TIMESTAMPDIFF(YEAR, cl.FechaNacimiento, CURDATE()) < 30 THEN 'Menos de 30'
        WHEN TIMESTAMPDIFF(YEAR, cl.FechaNacimiento, CURDATE()) BETWEEN 30 AND 59 THEN '30 a 59'
        ELSE '60 o más'
    END AS RangoEdad,
    AVG(t.Monto) AS MontoPromedio
FROM 
    clientes cl
JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY 
    RangoEdad
ORDER BY 
    RangoEdad;

RangoEdad,MontoPromedio
30 a 59,1074.597701
Menos de 30,1865.384615

**32.** **¿Cuáles son los clientes que tienen cuentas con un saldo superior a la mitad del saldo promedio de todas las cuentas?**

In [30]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido,
    cu.CuentaID,
    cu.Saldo
FROM 
    cuentas cu
JOIN 
    clientes cl ON cu.ClienteID = cl.ClienteID
WHERE 
    cu.Saldo > (
        SELECT AVG(Saldo) / 2 FROM cuentas
    );

ClienteID,Nombre,Apellido,CuentaID,Saldo
1,Juan,Pérez,1,5678.25
2,María,García,3,9876.54
4,Ana,Martínez,5,7890.25
5,Carlos,Sánchez,6,3456.78
6,Laura,Fernández,7,6789.01
8,Sofía,Torres,9,8765.43
9,Sergio,Navarro,10,4567.89
10,Isabel,Ramírez,11,9012.34
11,Andrés,Herrera,12,5678.90
12,Marta,Jiménez,13,7890.12
13,Luis,Moreno,14,3456.78
14,Carla,Ruiz,15,6789.34
16,Alicia,Gutiérrez,17,8765.09
17,Raúl,Vázquez,18,4567.23
18,Lucía,Romero,19,9012.45
19,Óscar,Ramos,20,5678.67
20,Elena,Santos,21,7890.89
21,Alejandro,Flores,22,3456.01
22,Cristina,Molina,23,6789.12
24,Daniela,Cabrera,25,8765.56
25,Pablo,Ortega,26,4567.78
26,Silvia,Vargas,27,9012.90
27,Roberto,Sáez,28,5678.12
28,Carolina,Pardo,29,7890.34
29,David,Rojas,30,3456.56
30,Claudia,Suárez,31,6789.78
32,Adriana,Guerrero,33,8765.12
33,Ernesto,Montes,34,4567.34
34,Valeria,Espinosa,35,9012.56
35,Gustavo,Hidalgo,36,5678.78
36,Natalia,Aguilar,37,7890.90
37,Rodrigo,Serrano,38,3456.12
38,Gabriela,Arias,39,6789.34
40,Camila,Acosta,41,8765.78
41,Nicolás,Ledesma,42,4567.90
42,Mariana,Pizarro,43,9012.12
43,Leonardo,Escobar,44,5678.34
44,Valentina,Piña,45,7890.56
45,Damián,Arce,46,3456.78
46,Rebeca,Cisneros,47,6789.90
48,Renata,Segovia,49,8765.34
49,Emiliano,Salcedo,50,4567.56
50,Isabella,Quintero,51,9012.78
51,Tomás,Castañeda,52,5678.90
52,Sofía,Uribe,53,7890.12
53,Martín,Salinas,54,3456.34
54,Antonella,Rincón,55,6789.56
56,Catalina,Solano,57,8765.90
57,Benjamín,Carvajal,58,4567.12
58,Constanza,Avendaño,59,9012.34
59,Joaquín,Cáceres,60,5678.56
60,Isadora,Echevarría,61,7890.78
61,Lucas,Pizarro,62,3456.90
62,Antonia,Zúñiga,63,6789.12
64,Rafaela,Acuña,65,8765.56
65,Maximiliano,Yáñez,66,4567.78
66,Julieta,Baeza,67,9012.90
67,Ezequiel,Montero,68,5678.12
68,Florencia,Quintana,69,7890.34
69,Thiago,Olivares,70,3456.56
70,Bianca,Rendón,71,6789.78
72,Amanda,Parra,73,8765.12
73,Emilio,Crespo,74,4567.34
74,Ariana,Henríquez,75,9012.56
75,Salvador,Morales,76,5678.78
76,Fernanda,Tapia,77,7890.90
77,Emmanuel,Concha,78,3456.12
78,Dulce,Quintero,79,6789.34
80,Luana,Santamaría,81,8765.78
81,Máximo,Saldivar,82,4567.90
82,Violeta,Ugarte,83,9012.12
83,Ignacio,Solís,84,5678.34
84,Avril,Olmedo,85,7890.56
85,Leonel,Urrutia,86,3456.78
86,Paloma,Espinoza,87,6789.90
88,Maite,Heredia,89,8765.34
89,Gael,Bernal,90,4567.56
90,Amelia,Polo,91,9012.78
91,Amelia,Peña,92,5678.90
92,Bautista,Contreras,93,7890.12
93,Luciana,Velázquez,94,3456.34
94,Tristán,Sepúlveda,95,6789.56
96,Álvaro,Leal,97,8765.90
97,Dafne,Robles,98,4567.12
98,Ángel,Zepeda,99,9012.34
99,Esmeralda,Vigil,100,5678.56

**33. ¿Cuál es el monto total de transacciones por mes y año?**

In [29]:
SELECT 
    YEAR(Fecha) AS Año,
    MONTH(Fecha) AS Mes,
    SUM(Monto) AS MontoTotal
FROM 
    transacciones
GROUP BY 
    Año, Mes
ORDER BY 
    Año DESC, Mes DESC;

Año,Mes,MontoTotal
2024,8,2730.00
2024,7,9830.00
2024,6,8200.00
2024,5,9620.00
2024,4,8230.00
2024,3,8770.00
2024,2,7080.00
2024,1,8450.00
2023,12,7210.00
2023,11,7460.00
2023,10,5830.00
2023,9,6870.00
2023,8,5750.00
2023,7,5910.00
2023,6,4650.00
2023,5,6200.00
2023,4,4950.00

**34. ¿Cuáles son las cuentas que han tenido transacciones en todas las fechas del último trimestre?**

In [28]:
SELECT 
    DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 3 MONTH), '%Y-%m-01') AS StartOfLastQuarter, 
    LAST_DAY(DATE_SUB(CURDATE(), INTERVAL 1 MONTH)) AS EndOfLastQuarter;
SELECT 
    cu.CuentaID
FROM 
    cuentas cu
WHERE 
    NOT EXISTS (
        SELECT 1
        FROM (
            SELECT ADDDATE('StartOfLastQuarter', t.n) AS TransactionDate
            FROM 
                (SELECT a.N + b.N * 10 + 1 n
                 FROM 
                    (SELECT 0 AS N UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) a,
                    (SELECT 0 AS N UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) b
                 ORDER BY n) t
            WHERE t.TransactionDate BETWEEN 'StartOfLastQuarter' AND 'EndOfLastQuarter'
        ) dates
        LEFT JOIN transacciones tr ON dates.TransactionDate = DATE(tr.Fecha) AND tr.CuentaID = cu.CuentaID
        WHERE tr.TransaccionID IS NULL
    )
GROUP BY 
    cu.CuentaID;

StartOfLastQuarter,EndOfLastQuarter
2024-02-01,2024-04-30

: 1054 (42S22): Unknown column 't.TransactionDate' in 'where clause'

**35. ¿Cuál es el monto promedio de depósitos por rango de saldo de las cuentas?**

In [27]:
SELECT 
    CASE
        WHEN cu.Saldo < 1000 THEN 'Menos de 1000'
        WHEN cu.Saldo BETWEEN 1000 AND 5000 THEN '1000 a 5000'
        WHEN cu.Saldo BETWEEN 5000 AND 10000 THEN '5000 a 10000'
        ELSE 'Más de 10000'
    END AS RangoSaldo,
    AVG(t.Monto) AS PromedioDepositos
FROM 
    cuentas cu
JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID
WHERE 
    t.Tipo = 'Depósito'
GROUP BY 
    RangoSaldo
ORDER BY 
    RangoSaldo;

RangoSaldo,PromedioDepositos
5000 a 10000,2588.000000

**36. ¿Cuáles son los clientes que tienen cuentas con un saldo superior al saldo máximo de todas las cuentas de ahorros?**

In [26]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido,
    cu.TipoCuenta,
    cu.Saldo
FROM 
    cuentas cu
JOIN 
    clientes cl ON cu.ClienteID = cl.ClienteID
WHERE 
    cu.Saldo > (
        SELECT MAX(Saldo) FROM cuentas WHERE TipoCuenta = 'Ahorros'
    );

**37. ¿Cuál es el monto total de transacciones por día de la semana?**

In [25]:
SELECT 
    CASE DAYOFWEEK(Fecha)
        WHEN 1 THEN 'Domingo'
        WHEN 2 THEN 'Lunes'
        WHEN 3 THEN 'Martes'
        WHEN 4 THEN 'Miércoles'
        WHEN 5 THEN 'Jueves'
        WHEN 6 THEN 'Viernes'
        WHEN 7 THEN 'Sábado'
    END AS DiaDeLaSemana,
    SUM(Monto) AS MontoTotal
FROM 
    transacciones
GROUP BY 
    DiaDeLaSemana
ORDER BY 
    FIELD(DiaDeLaSemana, 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo');

DiaDeLaSemana,MontoTotal
Lunes,15100.00
Martes,18290.00
Miércoles,17010.00
Jueves,17120.00
Viernes,17390.00
Sábado,16550.00
Domingo,16280.00

**38. ¿Cuáles son las cuentas que han tenido transacciones en todos los meses del año en curso?**

In [24]:
SELECT 
    c.CuentaID
FROM 
    cuentas c
JOIN 
    transacciones t ON c.CuentaID = t.CuentaID
WHERE 
    YEAR(t.Fecha) = YEAR(CURDATE())
GROUP BY 
    c.CuentaID
HAVING 
    COUNT(DISTINCT MONTH(t.Fecha)) = MONTH(CURDATE());

**39. ¿Cuál es el monto promedio de retiros por rango de edad de los clientes?**

In [23]:
SELECT 
    CASE 
        WHEN edad < 30 THEN 'Menos de 30'
        WHEN edad BETWEEN 30 AND 59 THEN '30 a 59'
        ELSE '60 o más'
    END AS RangoEdad,
    AVG(t.Monto) AS MontoPromedioRetiros
FROM 
    (SELECT 
        ClienteID,
        TIMESTAMPDIFF(YEAR, FechaNacimiento, CURDATE()) AS edad
    FROM 
        clientes) AS c
JOIN 
    cuentas cu ON c.ClienteID = cu.ClienteID
JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID AND t.Tipo = 'Retiro'
GROUP BY 
    RangoEdad;

RangoEdad,MontoPromedioRetiros
30 a 59,260.800000

**40. ¿Cuáles son los clientes que tienen cuentas con un saldo inferior al saldo mínimo de todas las cuentas corrientes?**

In [22]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido,
    cu.TipoCuenta,
    cu.Saldo
FROM 
    cuentas cu
JOIN 
    clientes cl ON cu.ClienteID = cl.ClienteID
WHERE 
    cu.Saldo < (SELECT MIN(Saldo) FROM cuentas WHERE TipoCuenta = 'Corriente');

**41.** **¿Cuál es el monto total de transacciones por cliente, ordenado de mayor a menor?**

In [21]:
SELECT 
    cl.ClienteID,
    cl.Nombre,
    cl.Apellido,
    SUM(t.Monto) AS MontoTotal
FROM 
    clientes cl
JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY 
    cl.ClienteID, cl.Nombre, cl.Apellido
ORDER BY 
    MontoTotal DESC;

ClienteID,Nombre,Apellido,MontoTotal
28,Carolina,Pardo,6300.00
36,Natalia,Aguilar,6000.00
12,Marta,Jiménez,5900.00
20,Elena,Santos,5700.00
40,Camila,Acosta,5500.00
4,Ana,Martínez,5200.00
32,Adriana,Guerrero,5100.00
24,Daniela,Cabrera,4800.00
16,Alicia,Gutiérrez,4600.00
8,Sofía,Torres,4200.00
42,Mariana,Pizarro,3700.00
1,Juan,Pérez,3600.00
34,Valeria,Espinosa,3500.00
26,Silvia,Vargas,3300.00
10,Isabel,Ramírez,3000.00
18,Lucía,Romero,3000.00
52,Sofía,Uribe,3000.00
44,Valentina,Piña,2800.00
2,María,García,2700.00
38,Gabriela,Arias,2700.00
30,Claudia,Suárez,2550.00
48,Renata,Segovia,2500.00
22,Cristina,Molina,2350.00
14,Carla,Ruiz,2300.00
6,Laura,Fernández,2100.00
50,Isabella,Quintero,1600.00
54,Antonella,Rincón,1200.00
39,Mateo,Córdoba,1110.00
46,Rebeca,Cisneros,1100.00
31,Francisco,Ríos,1080.00
15,Diego,Álvarez,1010.00
23,Mario,Castillo,1010.00
7,Javier,Gómez,930.00
43,Leonardo,Escobar,890.00
27,Roberto,Sáez,860.00
19,Óscar,Ramos,840.00
35,Gustavo,Hidalgo,830.00
11,Andrés,Herrera,780.00
3,Pedro,Rodríguez,700.00
33,Ernesto,Montes,660.00
41,Nicolás,Ledesma,650.00
25,Pablo,Ortega,600.00
9,Sergio,Navarro,570.00
17,Raúl,Vázquez,560.00
55,Santiago,Estrada,520.00
37,Rodrigo,Serrano,500.00
47,Samuel,Villalobos,490.00
29,David,Rojas,460.00
13,Luis,Moreno,450.00
21,Alejandro,Flores,440.00
5,Carlos,Sánchez,400.00
51,Tomás,Castañeda,370.00
49,Emiliano,Salcedo,290.00
53,Martín,Salinas,230.00
45,Damián,Arce,210.00

**42. ¿Cuáles son las cuentas que han tenido al menos una transacción en cada uno de los últimos 12 meses?**

In [20]:
SELECT 
    c.CuentaID
FROM 
    cuentas c
JOIN 
    transacciones t ON c.CuentaID = t.CuentaID
WHERE 
    t.Fecha >= DATE_SUB(CURDATE(), INTERVAL 12 MONTH)
GROUP BY 
    c.CuentaID
HAVING 
    COUNT(DISTINCT CONCAT(YEAR(t.Fecha), '-', MONTH(t.Fecha))) = 12;

**43. ¿Cuál es el monto promedio de transferencias por ciudad de los clientes?**

In [18]:
SELECT 
    cl.Ciudad,
    AVG(t.Monto) AS MontoPromedioTransferencias
FROM 
    clientes cl
JOIN 
    cuentas cu ON cl.ClienteID = cu.ClienteID
JOIN 
    transacciones t ON cu.CuentaID = t.CuentaID
WHERE 
    t.Tipo = 'Transferencia'
GROUP BY 
    cl.Ciudad
ORDER BY 
    MontoPromedioTransferencias DESC;

Ciudad,MontoPromedioTransferencias
Valencia,1562.500000
Pamplona,1500.000000
Madrid,1480.000000
Barcelona,1425.000000
Sevilla,1412.500000
Zaragoza,1350.000000
Málaga,1100.000000
Alicante,1100.000000

**44. ¿Cuáles son los clientes que tienen cuentas con un saldo superior al saldo promedio de todas las cuentas del mismo tipo?**

In [19]:
SELECT 
    c.ClienteID,
    c.Nombre,
    c.Apellido,
    cu.TipoCuenta,
    cu.Saldo
FROM 
    cuentas cu
JOIN 
    clientes c ON cu.ClienteID = c.ClienteID
WHERE 
    cu.Saldo > (
        SELECT AVG(Saldo)
        FROM cuentas
        WHERE TipoCuenta = cu.TipoCuenta
    )
ORDER BY 
    cu.TipoCuenta, cu.Saldo DESC;

ClienteID,Nombre,Apellido,TipoCuenta,Saldo
2,María,García,Ahorros,9876.54
66,Julieta,Baeza,Ahorros,9012.90
26,Silvia,Vargas,Ahorros,9012.90
50,Isabella,Quintero,Ahorros,9012.78
90,Amelia,Polo,Ahorros,9012.78
74,Ariana,Henríquez,Ahorros,9012.56
34,Valeria,Espinosa,Ahorros,9012.56
18,Lucía,Romero,Ahorros,9012.45
98,Ángel,Zepeda,Ahorros,9012.34
10,Isabel,Ramírez,Ahorros,9012.34
58,Constanza,Avendaño,Ahorros,9012.34
42,Mariana,Pizarro,Ahorros,9012.12
82,Violeta,Ugarte,Ahorros,9012.12
56,Catalina,Solano,Ahorros,8765.90
96,Álvaro,Leal,Ahorros,8765.90
80,Luana,Santamaría,Ahorros,8765.78
40,Camila,Acosta,Ahorros,8765.78
24,Daniela,Cabrera,Ahorros,8765.56
64,Rafaela,Acuña,Ahorros,8765.56
8,Sofía,Torres,Ahorros,8765.43
48,Renata,Segovia,Ahorros,8765.34
88,Maite,Heredia,Ahorros,8765.34
72,Amanda,Parra,Ahorros,8765.12
32,Adriana,Guerrero,Ahorros,8765.12
16,Alicia,Gutiérrez,Ahorros,8765.09
11,Andrés,Herrera,Corriente,5678.90
51,Tomás,Castañeda,Corriente,5678.90
91,Amelia,Peña,Corriente,5678.90
35,Gustavo,Hidalgo,Corriente,5678.78
75,Salvador,Morales,Corriente,5678.78
19,Óscar,Ramos,Corriente,5678.67
99,Esmeralda,Vigil,Corriente,5678.56
59,Joaquín,Cáceres,Corriente,5678.56
43,Leonardo,Escobar,Corriente,5678.34
83,Ignacio,Solís,Corriente,5678.34
67,Ezequiel,Montero,Corriente,5678.12
27,Roberto,Sáez,Corriente,5678.12
81,Máximo,Saldivar,Corriente,4567.90
41,Nicolás,Ledesma,Corriente,4567.90
9,Sergio,Navarro,Corriente,4567.89
25,Pablo,Ortega,Corriente,4567.78
65,Maximiliano,Yáñez,Corriente,4567.78
49,Emiliano,Salcedo,Corriente,4567.56
89,Gael,Bernal,Corriente,4567.56
73,Emilio,Crespo,Corriente,4567.34
33,Ernesto,Montes,Corriente,4567.34
17,Raúl,Vázquez,Corriente,4567.23
57,Benjamín,Carvajal,Corriente,4567.12
97,Dafne,Robles,Corriente,4567.12

**45.** **¿Cuál es el monto total de transacciones por trimestre y año?**

In [17]:
SELECT 
    YEAR(Fecha) AS Año,
    QUARTER(Fecha) AS Trimestre,
    SUM(Monto) AS MontoTotal
FROM 
    transacciones
GROUP BY 
    Año, Trimestre
ORDER BY 
    Año DESC, Trimestre DESC;

Año,Trimestre,MontoTotal
2024,3,12560.00
2024,2,26050.00
2024,1,24300.00
2023,4,20500.00
2023,3,18530.00
2023,2,15800.00

**46. ¿Cuáles son las cuentas que han tenido transacciones en todos los años desde su apertura?**

In [16]:
SELECT 
    c.CuentaID,
    c.FechaApertura
FROM 
    cuentas c
WHERE
    (SELECT COUNT(DISTINCT YEAR(t.Fecha))
     FROM transacciones t
     WHERE t.CuentaID = c.CuentaID
    ) = TIMESTAMPDIFF(YEAR, c.FechaApertura, CURDATE()) + 1;

**47. ¿Cuál es el monto promedio de pagos por rango de saldo de las cuentas?**

In [15]:
SELECT
    CASE
        WHEN c.Saldo < 1000 THEN 'Menos de 1000'
        WHEN c.Saldo BETWEEN 1000 AND 5000 THEN '1000 a 5000'
        ELSE 'Más de 5000'
    END AS RangoSaldo,
    AVG(t.Monto) AS MontoPromedio
FROM
    cuentas c
JOIN
    transacciones t ON c.CuentaID = t.CuentaID
GROUP BY
    RangoSaldo;

RangoSaldo,MontoPromedio
Más de 5000,1710.983607
1000 a 5000,342.820513

**48. ¿Cuáles son los clientes que tienen cuentas con un saldo superior al saldo máximo de todas las cuentas corrientes?**

In [14]:
SELECT DISTINCT 
    cl.ClienteID, 
    cl.Nombre, 
    cl.Apellido
FROM 
    cuentas cu
JOIN 
    clientes cl ON cu.ClienteID = cl.ClienteID
WHERE 
    cu.Saldo > (SELECT MAX(Saldo) FROM cuentas WHERE TipoCuenta = 'Corriente');

ClienteID,Nombre,Apellido
2,María,García
4,Ana,Martínez
6,Laura,Fernández
8,Sofía,Torres
10,Isabel,Ramírez
12,Marta,Jiménez
14,Carla,Ruiz
16,Alicia,Gutiérrez
18,Lucía,Romero
20,Elena,Santos
22,Cristina,Molina
24,Daniela,Cabrera
26,Silvia,Vargas
28,Carolina,Pardo
30,Claudia,Suárez
32,Adriana,Guerrero
34,Valeria,Espinosa
36,Natalia,Aguilar
38,Gabriela,Arias
40,Camila,Acosta
42,Mariana,Pizarro
44,Valentina,Piña
46,Rebeca,Cisneros
48,Renata,Segovia
50,Isabella,Quintero
52,Sofía,Uribe
54,Antonella,Rincón
56,Catalina,Solano
58,Constanza,Avendaño
60,Isadora,Echevarría
62,Antonia,Zúñiga
64,Rafaela,Acuña
66,Julieta,Baeza
68,Florencia,Quintana
70,Bianca,Rendón
72,Amanda,Parra
74,Ariana,Henríquez
76,Fernanda,Tapia
78,Dulce,Quintero
80,Luana,Santamaría
82,Violeta,Ugarte
84,Avril,Olmedo
86,Paloma,Espinoza
88,Maite,Heredia
90,Amelia,Polo
92,Bautista,Contreras
94,Tristán,Sepúlveda
96,Álvaro,Leal
98,Ángel,Zepeda

**49\. ¿Cuál es el monto total de transacciones por semana y año?**

In [13]:
SELECT 
    YEAR(Fecha) AS Año,
    WEEK(Fecha, 1) AS Semana,
    SUM(Monto) AS MontoTotal
FROM 
    transacciones
GROUP BY 
    YEAR(Fecha), WEEK(Fecha, 1)
ORDER BY 
    Año DESC, Semana DESC;

Año,Semana,MontoTotal
2024,32,530.00
2024,31,2200.00
2024,30,3490.00
2024,29,630.00
2024,28,2010.00
2024,27,3700.00
2024,26,500.00
2024,25,2480.00
2024,24,3000.00
2024,23,2220.00
2024,22,290.00
2024,21,3600.00
2024,20,2470.00
2024,19,360.00
2024,18,3490.00
2024,17,1500.00
2024,16,280.00
2024,15,3960.00
2024,14,1900.00
2024,13,3140.00
2024,12,560.00
2024,11,1400.00
2024,10,3670.00
2024,9,430.00
2024,8,2120.00
2024,7,2700.00
2024,6,530.00
2024,5,1550.00
2024,4,3200.00
2024,3,2100.00
2024,2,300.00
2024,1,2600.00
2023,52,1720.00
2023,51,230.00
2023,50,3370.00
2023,49,1600.00
2023,48,290.00
2023,47,2990.00
2023,46,1100.00
2023,45,3010.00
2023,44,360.00
2023,43,1500.00
2023,42,2660.00
2023,41,480.00
2023,40,1190.00
2023,39,2300.00
2023,38,330.00
2023,37,1680.00
2023,36,2100.00
2023,35,1410.00
2023,34,170.00
2023,33,2700.00
2023,32,1690.00
2023,31,240.00
2023,30,2320.00
2023,29,850.00
2023,28,160.00
2023,27,2580.00
2023,26,1100.00
2023,25,2020.00
2023,24,450.00
2023,23,900.00
2023,22,2680.00
2023,21,350.00
2023,20,1450.00
2023,19,1500.00
2023,18,400.00
2023,17,950.00
2023,16,2000.00
2023,15,1300.00
2023,14,200.00
2023,13,500.00

**50. ¿Cuáles son las cuentas que han tenido transacciones en todas las semanas del año en curso?**

In [12]:
SELECT 
    c.CuentaID
FROM 
    cuentas c
JOIN 
    transacciones t ON c.CuentaID = t.CuentaID
WHERE 
    YEAR(t.Fecha) = YEAR(CURDATE())
GROUP BY 
    c.CuentaID
HAVING 
    COUNT(DISTINCT WEEK(t.Fecha, 1)) = (SELECT COUNT(DISTINCT WEEK(d.d, 1)) 
                                        FROM (SELECT CURDATE() - INTERVAL (a.a + (10 * b.a) + (100 * c.a)) DAY as d
                                              FROM (SELECT 0 as a UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) as a
                                              CROSS JOIN (SELECT 0 as a UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) as b
                                              CROSS JOIN (SELECT 0 as a UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) as c
                                             ) d
                                            WHERE d.d BETWEEN DATE_FORMAT(CURDATE(), '%Y-01-01') AND CURDATE())

**51. ¿Cuál es la cuenta con el monto máximo de depósito?**

In [11]:
SELECT 
    c.CuentaID, 
    c.ClienteID, 
    c.TipoCuenta, 
    t.Monto AS MontoMaximoDeposito
FROM 
    cuentas c
JOIN 
    transacciones t ON c.CuentaID = t.CuentaID
WHERE 
    t.Tipo = 'Depósito'
ORDER BY 
    t.Monto DESC
LIMIT 1;

CuentaID,ClienteID,TipoCuenta,MontoMaximoDeposito
37,36,Ahorros,3700.00

**52. ¿Cuál es el cliente con la edad máxima?**

In [10]:
SELECT ClienteID, Nombre, Apellido, FechaNacimiento, 
       TIMESTAMPDIFF(YEAR, FechaNacimiento, CURDATE()) AS Edad
FROM clientes
ORDER BY Edad DESC
LIMIT 1;

ClienteID,Nombre,Apellido,FechaNacimiento,Edad
8,Sofía,Torres,1975-02-10,49