# Practica 8 - Modificación de tablas y registros

### Trabajar con el esquema **base.sql**

## 1. Inserta 2 productos nuevos en la tabla producto, puedes llamarlos producto1 y producto2.

In [10]:
USE base;
INSERT INTO producto (ID_Producto, Producto)
VALUES
    (8, 'producto1'),  
    (9, 'producto2');
SELECT *FROM producto;

ID_Producto,Producto
1,Terreno
2,Oficina
3,Local
4,Nave
5,Isla
6,Consultorio
7,Remates
8,producto1
9,producto2

## 2. Ahora vamos a actualizar los nombres de los productos anteriores:  
2.1 Producto1 será 'Casa'

In [11]:
UPDATE producto
SET Producto = CASE 
    WHEN Producto = 'producto1' THEN 'Casa'
END
WHERE Producto = 'producto1';

SELECT * FROM producto
WHERE Producto = 'Casa';

ID_Producto,Producto
8,Casa

2.2 Producto2 será 'Departamento'

In [12]:
UPDATE producto
SET Producto = CASE 
    WHEN Producto = 'producto2' THEN 'Departamento'
END
WHERE Producto = 'producto2';

SELECT * FROM producto
WHERE Producto = 'Departamento';

ID_Producto,Producto
9,Departamento

## 3. Eliminar casa y departamento de la tabla 'producto'

In [13]:
DELETE FROM producto
WHERE Producto IN ('Casa', 'Departamento');

SELECT * FROM producto;

ID_Producto,Producto
1,Terreno
2,Oficina
3,Local
4,Nave
5,Isla
6,Consultorio
7,Remates